.aboutMePage {
  height: calc(var(--vh, 1vh) * 100);
  background-color: #fff;
  background-image: url(./img/main.png);
  background-attachment: fixed;
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: 35%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  transition: 0.3s;
}
.aboutMeMain {
  display: flex;
}
.aboutMeMainText {
  margin-top: 234px;
  z-index: 8;
  max-width: 681px;
}
.aboutMeMainText h1 {
  font-weight: 600;
  font-size: 50px;
  text-transform: uppercase;
  margin-bottom: 100px;
}
.aboutMeMain .aboutMeMainText p {
  font-weight: 600;
  font-size: 50px;
  text-transform: uppercase;
}
.scrollIndicator {
  position: absolute;
  left: 50%;
  bottom: 0px;
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  cursor: pointer;
}
.scrollIndicator span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  display: block;
  border-right: 3px solid #222;
  border-bottom: 3px solid #222;
  animation: animate-scroll 1s linear infinite;
}
@keyframes animate-scroll {
  0% {
    border-color: #222;
  }
  20% {
    border-color: #222;
  }
  20.1%,
  100% {
    border-color: #6b6b6b;
  }
}
.scrollIndicator span:nth-child(1) {
  top: -30px;
  left: -30px;
  animation-delay: 0s;
}
.scrollIndicator span:nth-child(2) {
  top: -22px;
  left: -22px;
  animation-delay: 0.2s;
}
.scrollIndicator span:nth-child(3) {
  top: -14px;
  left: -14px;
  animation-delay: 0.4s;
}
.intro {
  margin-top: 8px;
  padding-top: 42px;
}
.introText {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
.intro .introText p {
  max-width: 780px;
  font-weight: normal;
  font-size: 18px;
}
.buttonRMargin {
  margin-right: 20px;
}

/* Intro block END */

/* Skills block START */

.skills {
  margin-top: 90px;
}
.skillsCards {
  display: flex;
  justify-content: space-between;
}
.skillCard {
  display: flex;
  flex-direction: column;
  width: 211px;
  min-width: 165px;
  height: 226px;
  margin-right: 20px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25), -2px -2px 10px rgba(0, 0, 0, 0.25);
}
.skillsCards :last-child {
  margin-right: 0px;
}
.skillCard img {
  display: flex;
  justify-content: center;
  margin-top: 22px;
}
.skillCard p {
  display: flex;
  justify-content: center;
  margin-top: 59px;
  font-weight: normal;
  font-size: 16px;
  text-transform: uppercase;
  padding-left: 21px;
  padding-right: 21px;
  text-align: center;
}

/* Skills block END */

/* Latest Works block START */

.latestWorks {
  margin-top: 90px;
}
.workCards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.workCard {
  position: relative;
  /* margin-right: 20px; */
  cursor: pointer;
}
.cardInfoOverlay {
  width: 100%;
  max-height: 508px;
}
.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 17px;
  background-color: #4d6172;
  border-radius: 5px 5px 0px 0px;
}
.elipses {
  display: flex;
  margin-left: 12px;
}
.elipse {
  width: 7px;
  height: 7px;
  border-radius: 3.5px;
  background-color: #c4c4c4;
  margin-right: 4px;
}
.toggleCard {
  margin-right: 12px;
}
.toggleCard hr {
  width: 10.8px;
  height: 1.5px;
  margin-bottom: 1px;
}
.workCard .cardBody img {
  width: 100%;
  border-radius: 0 0 5px 5px;
}
.workCardInfo {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  color: #fff;
  opacity: 0;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.75);
  transition: 0.6s;
  border-radius: 5px;
}
.workCardInfo h3 {
  padding: 10px 0 10px 0;
}
.workCardButton button {
  border: 1.5px solid #fff;
  background-color: transparent;
  color: #fff;
}
.workCardButton button:hover {
  background-color: #fff;
  color: #000;
}
.workCard :hover .workCardInfo {
  opacity: 1;
}

/* Latest Works block END */

/* Latest blog articles block START */

.latestBlogArticles {
  margin-top: 90px;
}
.articlesCards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.articleCard {
  position: relative;
  border: 0.5px solid #4d6172;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
}
.articleHover {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 5px;
  transition: 0.6s;
}
.articleHover a {
  text-decoration: none;
  color: #fff;
}
.articleCard:hover .articleHover {
  opacity: 1;
}
.articleCard .articleImg {
  overflow: hidden;
}
.articleCard .articleImg img {
  border-radius: 5px;
  height: 220px;
}
.articleDate {
  display: flex;
  justify-content: center;
  margin-left: 50px;
  margin-top: -40px;
  max-width: 71px;
  height: 71px;
  -moz-transform: rotate(45deg); /* Для Firefox */
  -ms-transform: rotate(45deg); /* Для IE */
  -webkit-transform: rotate(45deg); /* Для Safari, Chrome, iOS */
  -o-transform: rotate(45deg); /* Для Opera */
  transform: rotate(45deg);
  background-color: #4d6172;
}
.dateText {
  padding-top: 12px;
  font-weight: normal;
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  -moz-transform: rotate(-45deg); /* Для Firefox */
  -ms-transform: rotate(-45deg); /* Для IE */
  -webkit-transform: rotate(-45deg); /* Для Safari, Chrome, iOS */
  -o-transform: rotate(-45deg); /* Для Opera */
  transform: rotate(-45deg);
}
.atricleText {
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 28px;
  text-transform: uppercase;
}
.atricleText h3 {
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 25px;
}
.atricleText p {
  margin-top: 25px;
  margin-bottom: 65px;
  font-size: 14px;
  font-weight: normal;
  color: #4d6172;
}
.atricleText hr {
  max-width: 130px;
}
.socialLine {
  position: absolute;
  width: 100%;
  bottom: 10px;
  border-top: 0.5px solid #4d6172;
}
.articleSocial {
  display: flex;
  margin-left: 45px;
  padding-top: 10px;
}
.articleShare {
  padding-left: 20px;
  margin-left: 20px;
  border-left: 1px solid #4d6172;
}

/* Latest blog articles block END */

/* Ways to contact me block START */

.contactMe {
  padding-top: 182px;
  padding-bottom: 100px;
}
.bgBlue .contactMeOnPage {
  padding-top: 90px;
}
.titleContact {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contactMe .titleContact h2 {
  font-weight: normal;
  font-size: 22px;
  text-transform: uppercase;
  text-align: center;
}
.contactMe .titleContact hr {
  margin-top: 22px;
  width: 178px;
  margin-left: auto;
  margin-right: auto;
}
.contactMe .titleContact p {
  max-width: 568px;
  font-weight: normal;
  font-size: 18px;
  margin-top: 22px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.contactWindow {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
}
.contactMe .contactForm {
  display: flex;
  flex-direction: column;
  width: 528px;
}
.contactMe .contactForm input {
  display: inline-block;
  max-width: 528px;
  height: 50px;
  padding-left: 51px;
  font-weight: normal;
  font-size: 18px;
  color: #000;
  margin-bottom: 20px;
}
.contactMe .contactForm textarea {
  max-width: 528px;
  margin-bottom: 0px;
  font-weight: normal;
  color: #000;
  font-size: 18px;
  padding: 10px 0 0 50px;
}
.contactInfo {
  margin-top: 5px;
  margin-left: 52px;
}
.contactInfo p {
  font-weight: normal;
  font-size: 18px;
  margin-top: 30px;
}
.contactInfo a {
  color: #000;
}
.contactSocial p {
  margin-top: 23px !important;
  text-transform: uppercase;
}
.contactInfo p:first-child {
  margin-top: 0;
}
.socialList {
  margin-top: 20px;
  display: flex;
}
.socialEllipse {
  border-radius: 100%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}
.behanceEllipse {
  background: #1769ff;
}
.instagramEllipse {
  background: linear-gradient(180deg, #ffdd55 0%, #ff543e 51.56%, #c837ab 100%);
}
.linkedinEllipse {
  background: #006599;
}
.vkEllipse {
  background: #5181b8;
}
.socialEllipse img {
  width: 30px;
  height: 30px;
}
.linkedinEllipse img {
  width: 28px;
  height: 28px;
}
.workCards .swiper-slide {
  max-width: 340px;
}
.articlesCards .swiper-slide {
  max-width: 340px;
}
.swiper-slide:last-child {
  margin-right: 0px !important;
}
/* Ways to contact me block END */
.loadingBlock {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.loadingGif {
  max-width: 100px;
}
.downloadBtn svg {
  margin-right: 20px;
}
.downloadBtn:hover svg path {
  transition: 0.4s;
  fill: white;
}
.buttonSend button {
  max-width: 200px;
}
@media (max-width: 1180px) {
  .aboutMeMainText,
  .intro,
  .skills,
  .titleWrapper,
  .contactMe {
    margin-left: 30px;
    margin-right: 30px;
  }
  .aboutMePage {
    background-attachment: scroll;
    background-size: 60%;
  }
  .aboutIntro,
  .graphOverlay,
  .cardsEduOverlay,
  .randomFactsOverlay,
  .glanceCover {
    margin-right: 30px;
    margin-left: 30px;
  }
  .workCard:nth-child(1),
  .articleCard:nth-child(1) {
    margin-left: 30px;
  }
  .workCard:nth-child(3),
  .articleCard:nth-child(3) {
    margin-right: 30px;
  }
}

@media (max-width: 1000px) {
  .skillsCards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .skillCard {
    margin-bottom: 20px;
  }
  .skillsCards :last-child {
    margin-right: 20px;
  }
  .contactInfo {
    margin-left: 20px;
  }
  .mainSocial {
    display: none;
  }
}
@media (max-width: 900px) {
  .workCard {
    margin-right: 0px;
  }
  .workCardInfo {
    opacity: 1;
  }
}
@media (max-width: 815px) {
  .aboutMeMainText {
    margin-top: 204px;
    margin-left: 30px;
    margin-right: 30px;
    z-index: 8;
    max-width: 350px;
  }
  .aboutMeMainText h1 {
    font-size: 25px;
    margin-bottom: 50px;
  }
  .aboutMeMain .aboutMeMainText p {
    font-size: 25px;
  }
}

@media (max-width: 600px) {
  .skills,
  .latestWorks,
  .latestBlogArticles {
    margin-top: 70px;
  }
  .aboutMeMain {
    justify-content: center;
    text-align: center;
  }
}
@media (max-width: 585px) {
  .title h2 {
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
  }
  .buttonRMargin {
    margin-right: 0px;
    margin-bottom: 20px;
  }
  .buttonPage {
    flex-direction: column;
    align-items: center;
  }
  .skillsCards {
    display: grid;
    grid-template-columns: auto;
  }
  .skillCard {
    margin-right: 0px;
    margin-bottom: 20px;
  }
  .skillsCards :last-child {
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .contactWindow {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .contactMe .contactForm {
    display: flex;
    flex-direction: column;
    width: unset;
  }
  .contactMe .contactInfo {
    margin-top: 21px;
  }
  .mobileLoading {
    display: none;
  }
}
@media (max-width: 500px) {
  .workCard:nth-child(1),
  .articleCard:nth-child(1) {
    margin-left: 0px;
  }
  .workCard:nth-child(3),
  .articleCard:nth-child(3) {
    margin-right: 0px;
  }
}
@media (max-width: 325px) {
  .title h2 {
    font-size: 18px;
  }
  .title1 {
    width: 250px;
  }
}
